<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/src_front/index_styles/index.css">
    <link rel="stylesheet" href="/src_front/index_styles/tasks.css">
    <link rel="stylesheet" href="/src_front/index_styles/new_task_form.css">
    <link rel="stylesheet" href="/src_front/main.css">
</head>

<body>
    <script src="https://unpkg.com/htmx.org"></script>
    <div class="body-container">
        <div class="left-panel">
            <h2 class="left-panel-header">To Do app</h2>
            <div class="divider"> </div>
            <div class="actions-container">
                <a href="/index" class="action"> Tasks </a>
                <a href="/statistics" class="action"> Statistic </a>
                <a href="/account" class="action"> Account </a>
            </div>
        </div>
        <div class="main-part" hx-get="/renderTasks" hx-target=".tasks-container" hx-trigger="load">
            <div class="tasks-top-line">
                <div class="top-line-left">
                    <h1 class="your-tasks-header">
                        Your tasks:
                    </h1>

                    <select name="SortType" class="sort-type-select">
                        <option value="date">Date</option>
                        <option value="importance">Importance</option>
                        <option value="name">Name</option>
                        <option value="addingDate">AddingDate</option>
                    </select>
                </div>
                <button class="new-task-button" hx-get="/newTaskForm" hx-target=".tasks-container" hx-trigger="click">
                    Add New Task
                </button>
            </div>
            <div class="tasks-container">

            </div>
        </div>
    </div>
</body>

</html>