body {
    background-color: var(--back);
}

:root {
    --pale-yellow: #F8E9A1;
    --soft-red: #F76C6C;
    --light-blue: #A8D0E6;
    --deep-blue: #374785;
    --dark-blue: #24305E;
    --back: #f5f8f8;

}

.no-underline {
    text-decoration: none;
}

.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}