body {
    background-color: var(--back);
    margin: 0;
    padding: 0;
}

:root {
    --back: #f5f8f8;;
    --back-2: #E4E5E8;
    --front: #3E3B5E;
    --bright-1: #658cff;
    --bright-2: #5151FE;
    --bright-3: #7447fa;
    --warning: #CD1111;
}

.no-underline {
    text-decoration: none;
}
.error-line {
    padding: 8px;
    color: var(--warning);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}