.body-container {
    width: calc(100px + 80vw);
    max-width: 90%;
    border: 4px solid var(--back);
    border-left-color: var(--back-2);
    border-right-color: var(--back-2);
    display: grid;
    grid-template-columns: 280px 1fr;
    height: calc(100vh - 8px);
    margin: 0 auto;
    background-color: var(--back-2);
    column-gap: 4px;
}

.left-panel {
    background-color: var(--back);
    height: 100%;
    display: grid;
    grid-template-rows: calc(100px + 20vh) 4px 1fr;

}

.divider {
    height: 100%;
    width: 100%;
    background-color: var(--back-2);
}

.left-panel-header {
    align-self: flex-end;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.actions-container {
    height: 240px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-part {
    background-color: var(--back);
    overflow: auto;
    padding: 30px;
    padding-top: 100px;
}

.tasks-top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-line-left {
    display: flex;
    flex-direction: row;
}

/* 
.default-checkbox-label input {
    display: none;
}

.default-checkbox-label {
    color: var(--soft-red);
    font-family: 'Figtree';
    font-weight: 600;
    font-size: calc(0.7vw + 0.7vh + 9px);
}

.default-checkbox-label .checkmark {
    position: relative;
    left: calc(0.1vw + 2px);
    aspect-ratio: 1/1;
    height: calc(11px + 0.3vw + 0.28vh);
    background-color: var(--soft-red);
    display: inline-block;
    vertical-align: middle;
    border: calc(2px + 0.05vw + 0.05vh) solid transparent;
    border-radius: 10%;
    border: 2px solid var(--soft-red);
}

.default-checkbox-label:hover input~.checkmark {
    background-color: var(--soft-red);
    border-color: var(--soft-red);
}

.default-checkbox-label input:checked~.checkmark {
    background-color: var(--soft-red);
    border-color: var(--soft-red);
}

.default-checkbox-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;

}

.default-checkbox-label input:checked~.checkmark:after {
    display: block;
}

.default-checkbox-label .checkmark:after {
    width: 20%;
    height: 70%;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    left: 54%;
    top: calc(50% - 1px);
    transform: translate(-50%, -50%) rotate(45deg);
} */