<div class="tasks-container">
    You don't have any tasks yet.
    <p>Do you want to create one?
        <button class="new-task-button" hx-get="/newTaskForm" hx-target=".tasks-container" hx-trigger="click">
            Add New Task
        </button>
    </p>
</div>