<!-- @if (Model.RegistrationDataChecking == RegistrationDataChecking.LoginTaken)
{
    <p class="error-line">This login is already taken</p>
}
@if (Model.RegistrationDataChecking == RegistrationDataChecking.PasswordsNotMatched)
{
    <p class="error-line">Passwords don't match</p>
}
@if (Model.RegistrationDataChecking == RegistrationDataChecking.BirthDateError)
{
    <p class="error-line">The Birthdate is incorrect</p>
}
@if (Model.RegistrationDataChecking == RegistrationDataChecking.NameTaken)
{
    <p class="error-line">This username is already taken</p>
} -->