<div class="tasks-container">

        {{range .}}
        <div class="task-div">
            <strong>{{.Name}}</strong><br>
            Info: {{.Info}}<br>
            Completed: {{.IsCompleted}}<br>
            Deadline: {{if .HasDeadline}}{{.Deadline.Format "2006-01-02"}}{{else}}No Deadline{{end}}<br>
            Importance: {{.Importance}}
        </div>
        {{end}}

</div>
